<div class="side-menu">
    <aside class="sidebar">
        <div class="logo">
            <a href="#"><img src="logo/logo-sm.png" alt=""></a>
        </div>
        <div class="manu_list">
            <ul>
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
                <li><a routerLink="./deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
            </ul>
        </div>
    </aside>
</div>
