<section class="container py-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead class="table-dark">
              <tr>
                <th>ক্রমিক</th>
                <th>চাকরির শিরোনাম</th>
                <th>বিভাগ</th>
                <th>প্যাকেজ</th>
                <th>অভিজ্ঞতা</th>
                <th>অবস্থান</th>
                <th>অ্যাকশন</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobList; let sr = index">
                <td>{{ sr + 1 }}</td>
                <td>{{ job.jobName }}</td>
                <td>{{ job.categoryName }}</td>
                <td>{{ job.package }}</td>
                <td>{{ job.experience }}</td>
                <td>{{ job.location }}</td>
                <td>
                  <button class="btn btn-success btn-sm" (click)="openJobs(job)">
                    {{ job.isExpanded ? 'বন্ধ করুন' : 'ওপেন করুন' }}
                  </button>
                </td>
              </tr>
  
              <!-- Expanded Panel -->
              <tr *ngIf="job.isExpanded">
                <td colspan="7">
                  <div class="p-3 bg-light rounded">
                    <h6 class="mb-3">আবেদনকারীর তালিকা</h6>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr class="table-secondary">
                            <th>ক্রমিক</th>
                            <th>স্ট্যাটাস</th>
                            <th>ইমেইল</th>
                            <th>সম্পূর্ণ নাম</th>
                            <th>মোবাইল নাম্বার</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let app of applications; let idx = index">
                            <td>{{ idx + 1 }}</td>
                            <td>{{ app.applcationStatus }}</td>
                            <td>{{ app.emailId }}</td>
                            <td>{{ app.fullName }}</td>
                            <td>{{ app.mobileNo }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  