<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h2>About jobkhujibd</h2>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Accessibility Statement</a></li>
          <li><a href="#">International Partners</a></li>
          <li><a href="#">Other Partners</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Job Seekers</h2>
        <ul>
          <li><a href="#">Create Account</a></li>
          <li><a href="#">jobkhujibd Pro</a></li>
          <li><a href="#">Video CV</a></li>
          <li><a href="#">My jobkhujibd Panel</a></li>
          <li><a href="#">List of Features</a></li>
          <li><a href="#">Career Counseling</a></li>
          <li><a href="#">Video Guides</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Recruiter</h2>
        <ul>
          <li><a href="#">Create Account</a></li>
          <li><a href="#">Products/Service</a></li>
          <li><a href="#">Disability Inclusion Practice</a></li>
          <li><a href="#">Post a Job</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Download Employer App</a></li>
          <li><a href="#">Download Employer App iOS</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Tools & Social Media</h2>
        <ul>
          <li><a href="#">jobkhujibd Android App</a></li>
          <li><a href="#">jobkhujibd iOS App</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Google+</a></li>
          <li><a href="#">Youtube</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Download Mobile App for Android</a></li>
          <li><a href="#">Download from Huawei AppGallery</a></li>
          <li><a href="#">Download for iOS</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>Need any support? Call: <a href="tel:09638666888">09638666888</a>, <a href="tel:01897627888">01897627888</a></p>
      <p>Our Contact Centre is available from 9 am to 8 pm (Saturday to Thursday).</p>
      <p>&copy; {{ currentYear }} jobkhujibd.com. All rights reserved.</p>
    </div>
  </footer>
  